<div class="game-card">
  <div class="game-row">
    <div class="block-center" [ngClass]="{disabled: isHomeSelected, selected: isAwaySelected}">
      <app-logo-image [team]="game.awayTeam"></app-logo-image>
      <div>{{game.awayTeam}}</div>
      <div><span *ngIf="game.awaySpread > 0">+</span>{{game.awaySpread}}</div>
      <input
        type="checkbox"
        (change)="onChange($event, game.awayTeam, game.awaySpread)"
        [checked]="isAwaySelected"
        [disabled]="isHomeSelected"/>
    </div>
    <div class="big-font">@</div>
    <div class="block-center" [ngClass]="{disabled: isAwaySelected, selected: isHomeSelected}">
      <app-logo-image [team]="game.homeTeam"></app-logo-image>
      <div>{{game.homeTeam}}</div>
      <div><span *ngIf="game.homeSpread > 0">+</span>{{game.homeSpread}}</div>
      <input
        type="checkbox"
        (change)="onChange($event, game.homeTeam, game.homeSpread)"
        [checked]="isHomeSelected"
        [disabled]="isAwaySelected"/>
    </div>
  </div>
  <div class="game-row">{{game.startDate}}</div>
  <div class="game-row">{{game.startTime}}</div>
</div>
