#button-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

button {
  background-color: lightblue;
  border-radius: 4px;
}

.picks-container {
  padding: 1em;
  border: 2px solid blue;
  border-radius: 6px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
