<div class="picks-container">
  <ng-container  *ngFor="let pick of picks; let i = index">
    <div>Pick {{i + 1}}:
      <ng-container *ngIf="picks[i].team; else notSelected">
        {{picks[i].team}} <span *ngIf="picks[i].spread > 0">+</span>{{picks[i].spread}}
      </ng-container>
    </div>
  </ng-container>
  <ng-template #notSelected>N/A</ng-template>
</div>
<div style="text-align: center;">
  <app-date-clock></app-date-clock>
</div>
<div id="button-container">
  <button (click)="savePicks()">Update Picks</button>
  <button (click)="loadSchedule()">Load Schedule</button>
</div>



